body{
    margin: 0px;
    color: white;
    background-color:black; /*#00004d;*/
}
/body header/
.body-header{
    background-color: black;  /#1a1e45/;
    height: 100vh;
    background-size: cover;
    background-position: center; 
    opacity: 0.6;
    background-attachment: fixed;


}
/* top fav */
.top-fav
{
        padding-left: 200px;
    display: inline-block;
    margin: 10px auto;
    
}
.top-fav a
{
    color: ghostwhite;
    text-decoration: none;
    transition: color 0.5s,border-bottom 4s;

}
.top-fav a:hover
{
    color: skyblue; 
    border-bottom: 1px solid whitesmoke;
    
}
.coding-ninjas-icon
{
    
    width: 4rem;
    display: inline-block;
  /*  border: 2px solid white;*/
}
.coding-ninjas-icon img 
{
    height: 100%;
    width: 100%;
 /* border-radius: 50%;*/
}

.logo-fav-search
{
    padding: 20px 20px;
    display: block;
    width: 100%;
}
.topnav
{
    display: inline-block;
    
    vertical-align: top;
    margin: 12px;
/*    border: 2px solid blue;*/
}
.search input[type=text]{
        width:300px;
        height:25px;
        border-radius:25px;
        border: none;
        display: inline-block;


    }
          
    .search-profile-box{
        float: right;
    }
    .search {
        vertical-align: top;
    margin: 12px;
    display: inline-block;
  
 border: 1px solid;
    border-radius: 5px;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

    .profile-pic
    {
        display: inline-block;
        width:3.5rem;
        height: 3.5rem;
        float: right;
        margin-right: 30px ;
     }
    .profile-pic img
    {
        width: 100%;
  border-radius: 50%;
    }
   .icon-button
   {
     display: inline-block;
        width:3.5rem;
        height: 3.5rem;
       /* float: right;*/
        margin-right: 50px ;
        border-radius: 50%;
   }
   .icon-button img
   {
    width: 100%;
    border-radius: 50%;
   }
   .homescreen .content
   {
    width:50%;
    height:500px;
  margin-left: 45px;
    padding-top: 20px;
   }
   .content img
   {
    height: 350px;
    width: 50%;
    display:block;
    float: right;

   }
   .homescreen .content h1
   {
    font-size: 25px;
    font-weight:600;

   }
   .homescreen .content p
   {
    font-size: 15px;
    font-weight: 400px;
    color: #ghostwhite;
    margin: 5px;
    
   }
   .homescreen .content .buttons
   {
    margin-top: 15px;
    
   }
   .homescreen .content .buttons button
   {
    width: 130px;
    height: 30px;
    border: 2px solid blueviolet;
    outline: none;
    border-radius: 20px;
    background: skyblue;
    color: whitesmoke;
    cursor: pointer;
    transition: .3s linear;
   }
    .homescreen .content .buttons button:hover
   {
    border:2px solid lightblue;
    background: none;
    color: lightblue;
   }
    .homescreen .content .buttons button:nth-child(2)
   {
    border:2px solid lightblue;
    background: none;
    color: lightblue;
   }
   .homescreen .content .buttons button:nth-child(2):hover
   {
    border:2px solid lightblue;
    background: lightblue;
    color: whitesmoke;
   }
   /**/
   /*.aside .parentAside{
    height: 800px;
    width: 350px;
    border: 1px solid whitesmoke;
    margin-top:-180px;

   }*/
   .downlistparent
   {
    height: 50%;
    width: 60%;
   /* border: 1px solid whitesmoke;*/
   }
   .downlistul
   {
    padding-top: 150px;
   }
   .downlistul li
  {
  /*  display: inline-block;*/
    height: 50px;
    width: 95%;
   /* border: 1px solid whitesmoke;*/
    margin-left: 10px;
    margin-top: 5px;
  /*  padding-top: -40px;*/
    list-style: none;
    list-style-type: none;



  }
  .downlistul li :hover
  {
   background: rgb(250,250, 110 ,.1) ;

  }
  .downbars span
  {
   align-items: center;
   color: #4c5262;

  }
  .downbars img
  {
    height: 50px;
    width: 50px;
    padding-left: 40px;
    
  }
  
  .tag 
  {
  padding-top: 20px;
   /*align-items:flex-end;*/
   float: right;

    
  }
  .downbars  h5
  {
    flex-wrap: wrap;
    font-size: 10px;
    font-weight: 10px;
    align-items: center;
    color:darkcyan; 
    padding-left: 70px;
    margin-left: 70px;
  }

  /**/
 .menu_song{
  height: 340px;
  width: 30%;
  /*border: 1px solid whitesmoke;*/
  float: right;
  margin-top: 30px;
  margin-right: 30px;
 }
  .asidesong li{
    position: relative;
 list-style-type: none;
 padding: 5px 0px 5px 20px;
 display: flex;
 align-items: center;
 margin-bottom: 10px;
 cursor: pointer;
 transition: .3s linear;
 }
 .asidesong li:hover{
  background: rgb(250, 250, 110 ,.1) ;
 }
 .asidesong li span{
 font-size: 12px;
 font-weight: 600;
 color: #4c5262;
 }
 .asidesong li img{
 width: 60px;
 height: 60px;
 margin-left: 25px;
 }
 .asidesong li h5{
 font-size: 11px;
 margin-left: 15px;
 }
 .asidesong li .bi{
 position: absolute;
 right: 15px;
 top: 5px;
 font-size: 16px;

 }

 /**/
.menu_song1{
  height: 800px;
  width: 30%;
 /* border: 1px solid whitesmoke;*/
  float: right;
  margin-top: -10px;
  margin-right: 10px;
  overflow-y: scroll ;
 }
  .asidesong1 li{
    position: relative;
 list-style-type: none;
 padding: 5px 0px 5px 20px;
 display: flex;
 align-items: center;
 margin-bottom: 10px;
 cursor: pointer;
 transition: .3s linear;
 }
 .asidesong1 li:hover{
  background: rgb(250,250, 110 ,.1) ;
 }
 .asidesong1 li span{
 font-size: 12px;
 font-weight: 600;
 color: #4c5262;
 }
 .asidesong1 li img{
 width: 40px;
 height: 40px;
 margin-left: 25px;
 }
 .asidesong1 li h5{
 font-size: 11px;
 margin-left: 15px;
 }
 .asidesong1 li .bi{
 position: absolute;
 right: 10px;
 top: 3px;
 font-size: 12px;

 }



/*masterplay*/
 .master_play{
    display: flex;
    align-items: center;
    padding: 0px 20px;
    /*position: fixed;*/
    bottom: 0;
    background-color: ;
  }

   .master_play .wave{
   width: 30px;
   height: 30px;
  /* border: 1px solid whitesmoke;*/
   padding-bottom: 5px;
   display: flex;
   align-items: flex-end;
   margin-right: 10px;
  }
    .master_play .wave .wave1{
   width: 3px;
   height: 10px;
   margin-right:3px ;
   border-radius: 10px 10px 0px 0px;
   background: #36e2ec;
   animation: wave .5s linear infinite;

  }
      .master_play .wave .wave1:nth-child(2){
        height: 13px;
        animation-delay: .4s;

  }
   .master_play .wave .wave1:nth-child(3){
        height: 8px;
        animation-delay: .8s;

  }
  @keyframes wave
  {
        0%{
            height: 10px;
        }
        50%{
            height: 15px;
        }
        100%
        {
            height: 10px;
        }

  }

   .master_play img
  {
    width: 40px;
    height: 40px;

  }
     .master_play h5
  {
    width: 130px;
    font-size: 13px;
    margin-left: 15px;
    color: whitesmoke;
    line-height: 15px;

  }
     .master_play h5 .subtitle
  {
 font-size: 11px;
 color: whitesmoke;
  }
     .master_play .icon
  {
 font-size: 20px;
 color: whitesmoke;
 margin: 0px 20px 0px 40px;
  }
     .master_play .icon .bi
  {
    cursor: pointer;
    outline: none;
  }
    .master_play .icon .bi :nth-child(2)
  {
    border: 1px solid rgb(105, 170, 170,.1);
    border-radius: 50%;
    padding: 1px 3px 0px 6px;
    margin: 0px 5px;
    transition: .3s linear;
  }
   .master_play span
   {
   color: whitesmoke;
   width: 32px;
   font-size: 11px;
   font-weight: 400;
  }
   .master_play #currentStart
   {
    margin: 0px 0px 0px 20px; 
  }

   .master_play .bar
   {
   position: relative;
   width: 43%; 
   height: 2px;
   background: rgb(105, 105, 170,.1);
   margin: 0px 15px 0px 10px;
  }
  .master_play .bar .bar2
  {
    position: absolute;
    background: lightblue;
    width: 0%;
    height: 100%;
    top: 0;
  }
  .master_play .bar .dot
  {
    position: absolute;
   width: 5px;
   height: 5px;
   background: lightblue;
   border-radius: 50%;
   left: 0%;
   top: -1px;
   transition: 1s linear;
  }
     .master_play .bar .dot::before
  {
    content: '';
    position: absolute;
   width: 5px;
   height: 5px;
   border:1px solid lightblue;
   border-radius: 50%;
   left: -6px;
   top: -6px;
   box-shadow: insert 0px 0px 3px lightblue;
  }
     .master_play .bar input
  {
   
    position: absolute;
    width: 100%;
    top: -6px;
    left: 0;
    cursor: pointer;
    z-index: 99999999;
    transition: 3s linear;
    opacity: 0;
  }
    .master_play .vol
  {
   
    position: relative;
    width: 100px;
    height: 2px;
    margin-left: 50px;
    background: black;
  }
  
   .master_play .vol .bi
  {
   
    position: absolute;
    color: whitesmoke;
    font-size: 25px;
    top: -17px;
    left: -30px;
    
  }
       .master_play .vol input
  {
   
    position: absolute;
    width: 100%;
    top: -10px;
    left: 0;
    cursor: pointer;
    z-index: 99999999;
    transition: 3s linear;
    opacity: 0;
  }


  /**/
   .master_play .vol .vol_bar
  {
    position: absolute;
    background: lightblue;
    width: 0%;
    height: 100%;
    top: 0;
  }
   .master_play .vol .dot
  {
    position: absolute;
   width: 5px;
   height: 5px;
   background: lightblue;
   border-radius: 50%;
   left: 0%;
   top: -1px;
   transition: 1s linear;
  }
    .master_play .vol .dot::before
  {
    content: '';
    position: absolute;
   width: 5px;
   height: 5px;
   border:1px solid lightblue;
   border-radius: 50%;
   left: -6px;
   top: -6px;
   box-shadow: insert 0px 0px 3px lightblue;
  }
  /**/
  /* particular item in the playlist */
  .playlist-items
  {
    width: 1000px;
  }
.playlist-item {
  /* height:60px;
    width:100%; */
  height: 8vh;

  box-sizing: border-box;
  background-color: var(--playlist-items-background-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  /* transition: all ease-in-out 0.1s; */
}
/* playlist item hovering effects */
.playlist-item:hover {
  background-color: var(--playlist-items-background-color-on-hover);
}
/* left part if the playlist item */
.left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 30%;
  height: 100%;
  padding: 0% 1%;
}
/* center part of the playlist item which contains the duration length of the song */
.center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: min-content;
  height: 100%;
}
/* right part of the playlist item, which contains icons */
.right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 100%;
  padding-right: 2%;
}/* now adjusting the contents of left, center and right parts */
.left > div:nth-child(2) {
  height: 80%;
  min-width: 50px;
  max-width: 50px;
  margin: 0px 12% 0px 12%;
  position: relative;
}
.left > div:nth-child(2) img {
  width: 100%;
  height: 100%;
}
.left > div:nth-child(3) p {
  color: rgb(185, 185, 185);
}

Report
Ritik Singla
06/05/22 13:05

